* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body {
    background-image: url("./about_bg_img.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

p {
    margin: 0;
}

.header_container {
    width: 100%;
    height: 65px;
    background-color: rgb(35, 100, 212);
}

.links_container {
    display: flex;
    justify-content: space-between;
}

.links_container li {
    flex-shrink: 1;
    display: flex;
    gap: 20px;
}

.link_content {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
    margin: 10px;
}

@media (max-width: 424px) {
    .header_container {
        height: fit-content;
    }
    
    .links_container {
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }

    .links_container li {
        flex-direction: column;
    }
}

.container {
    min-height: 100%;
}

.about-section {
    background:rgba(227,233,240,0.8);
    border-radius: 10px;
    padding: 30px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    margin-top: 100px;
}

.about-section h2 {
    margin-bottom: 20px;
}

.about-section p {
    font-weight:bold;
    margin-bottom: 15px;
    line-height: 1.6;
}

.items{
    font-weight:bold;
}