<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/d_styles.css">
        <link rel="stylesheet" href="../static/d_time_slots_styles.css">
        <title>Time Slots</title>
        <!-- Code For DataPicker: https://github.com/Frontend-Paathshala/Datepicker-Bootstrap-5 -->
    </head>
    <body>
        <div class="mcontainer">
            <div class="sidebar">
                <div class="logo_section">
                    <img src="../static/logo.svg" class="icon logo" alt="Dashboard Icon" width="60px" height="60px">
                    <p class="logo_text">Radiology</p>
                </div>
                <div class="user_section">
                    <div class="sidebar_item">
                        <img src="../static/home.svg" class="icon" alt="Home Icon" width="25px" height="25px">
                        <a href="/d_index">Home</a>
                    </div>
                    <div class="sidebar_item">
                        <img src="../static/profile.svg" class="icon" alt="Profile Icon" width="25px" height="25px">
                        <a href="/d_profile">Profile</a>
                    </div>
                    <div class="sidebar_item">
                        <img src="../static/calendar-outline.svg" class="icon" alt="Appointments Icon" width="25px" height="25px">
                        <a href="/d_scheduled_appointments">Scheduled Appointments</a>
                    </div>
                    <div class="sidebar_item">
                        <img src="../static/archive-clock-outline.svg" class="icon" alt="Calender Time Icon" width="25px" height="25px">
                        <a href="/d_time_slots">Free Time Slots</a>
                    </div>
                </div>
            </div>
            <div class="main_page">
                <div class="header">
                    <div class="outer_container">
                        <div class="user_info_container">
                            <img src="../static/user.png" alt="User Icon" width="70px" height="70px">
                            <div class="welcome_container">
                                <p class="user_welcome">{{ user.first_name }} {{ user.last_name }}</p>
                            </div>
                        </div>
                        <div class="buttons_container">
                            <a href="/d_edit_profile" class="button">Edit Profile</a>
                            <a href="/logout" class="button">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="main_content">
                    <div class="content_container">
                        <p class="content_header">My Free Time Slots</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for slot in my_free_slots_list%}
                                    <tr>
                                        <th scope="row">{{ slot.id }}</th>
                                        <td>{{ slot.date }}</td>
                                        <td>{{ slot.start_time }} - {{ slot.end_time }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <form action="/d_time_slots" method="post">
                            <p class="content_header">Add New Time Slots</p>
                            <div class="date_container">
                                <div class="inner_container">
                                    <div class="row form-group">
                                        <label for="date">Date</label>
                                        <div>
                                            <div class="input-group date" id="datepicker">
                                                <input type="text" name="date" class="form-control">
                                                <span class="input-group-append">
                                                    <span class="input-group-text bg-white d-block">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="inner_container">
                                    <div class="row form-group">
                                        <label for="time">Start Time</label>
                                        <div>
                                            <div class="input-group time" id="timepicker">
                                                <input type="text" name="start_time" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="inner_container">
                                    <div class="row form-group">
                                        <label for="time">End Time</label>
                                        <div>
                                            <div class="input-group time" id="timepicker">
                                                <input type="text" name="end_time" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="user_id" value="{{user.id}}">
                                <button class="add_button" type="submit">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(function() {
                $('#datepicker').datepicker();
                $('#timepicker').timepicker();
            });
        </script>
    </body>
</html>